@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  --gradient-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);
  --main-font: "Noto Sans", sans-serif;
  --main-font-size: 16px;
  --normal-weight: 400;
  --semi-bold-weight: 500;
  --bold-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--gradient-light);
}

html.dark body {
  background: var(--gradient-dark);
}

#app {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  background: var(--neutral-0);
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--neutral-200);
}

.theme-toggle {
  padding: 1rem;
  background: var(--neutral-100);
  border: none;
  border-radius: 1rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.theme-toggle:hover {
  background: var(--neutral-300);
}

.theme-toggle:focus {
  outline: solid 2px var(--red-400);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0;
}

.extension-heading {
  font-size: calc(var(--main-font-size) * 2);
  color: var(--neutral-900);
}

.filter-buttons {
  display: flex;
  gap: 1rem;
}

.filter-button {
  padding: 0.5rem 1rem;
  font-size: var(--main-font-size);
  font-weight: var(--normal-weight);
  color: var(--neutral-900);
  background: var(--neutral-0);
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem var(--neutral-200);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.filter-button:hover {
  color: var(--neutral-800);
  background: var(--neutral-300);
}

.filter-button:focus {
  outline: groove 2px var(--red-400);
}

.active {
  color: var(--neutral-100);
  background: var(--red-400);
}

.filter-button.active:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--neutral-100), 0 0 0 4px var(--red-500);
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 2rem 0;
}

.extension-box {
  padding: 0.5rem 1.25rem 1rem;
  background: var(--neutral-0);
  border-radius: 1.25rem;
  box-shadow: 0 0 1rem var(--neutral-200);
}

.extension-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.extension-header img {
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  object-fit: contain;
  object-position: top;
}

.extension-header h2 {
  margin: 0.8rem 0 0.75rem;
  font-size: calc(var(--main-font-size) * 1.5);
  color: var(--neutral-900);
}

.extension-header p {
  font-size: 18px;
  font-weight: var(--semi-bold-weight);
  color: var(--neutral-600);
}

.extension-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem 0 0.25rem;
}

.remove-button {
  padding: 0.5rem 1rem;
  font-size: var(--main-font-size);
  font-weight: var(--normal-weight);
  color: var(--neutral-900);
  background: var(--neutral-0);
  border: 1px solid var(--neutral-300);
  border-radius: 1.5rem;
  box-shadow: 0 0 1rem var(--neutral-200);
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.remove-button:hover {
  background: var(--red-400);
  color: var(--neutral-100);
}

.remove-button:focus {
  outline: groove 2px var(--red-400);
}

.switch {
  display: inline-block;
  margin: 0.5rem 0 0;
  width: 2.5rem;
  height: 1.25rem;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--neutral-300);
  transition: 0.3s;
  border-radius: 1.25rem;
}

.slider::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 1rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: var(--red-500);
}

input:checked + .slider::before {
  transform: translateX(1.25rem);
}

html.dark header {
  background: var(--neutral-800);
  box-shadow: 0 0 0;
}

html.dark .theme-toggle {
  background: var(--neutral-700);
}

html.dark .theme-toggle:hover {
  background: var(--neutral-600);
}

html.dark .theme-toggle:focus {
  outline: groove 2px var(--red-400);
}

html.dark .extension-heading {
  color: var(--neutral-0);
}

html.dark .filter-button {
  color: var(--neutral-100);
  background: var(--neutral-700);
  box-shadow: 0 0 0;
}

html.dark .filter-button:hover {
  background: var(--neutral-600);
}

html.dark .filter-button:focus {
  outline: groove 2px var(--red-400);
}

html.dark .active {
  font-weight: var(--bold-weight);
  color: var(--neutral-800);
  background: var(--red-400);
}

html.dark .filter-button.active:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--neutral-800), 0 0 0 4px var(--red-500);
}

html.dark .filter-button.active:focus:hover {
  color: var(--neutral-200);
}

html.dark .extension-box {
  background: var(--neutral-800);
  box-shadow: 0 0 2px var(--neutral-200);
}

html.dark .extension-header h2 {
  color: var(--neutral-100);
}

html.dark .extension-header p {
  color: var(--neutral-300);
  font-weight: var(--normal-weight);
}

html.dark .remove-button {
  color: var(--neutral-200);
  background: var(--neutral-800);
  box-shadow: 0 0 2px var(--neutral-200);
  border: none;
}

html.dark .remove-button:hover {
  background: var(--red-400);
  color: var(--neutral-800);
  font-weight: 600;
}

html.dark .remove-button:focus {
  background: var(--neutral-600);
  border: 2px solid var(--neutral-900);
  outline: groove 2px var(--red-400);
  box-shadow: 0 0 0;
}

@media (max-width: 375px) {
  header {
    margin: 1.25rem 1rem;
    padding: 0.5rem 1rem;
  }
  .section-header {
    display: block;
    text-align: center;
    margin: 2rem 0;
  }

  .filter-buttons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin: 1.25rem 0;
  }

  main {
    display: block;
    padding: 0 1rem;
  }

  .extension-box {
    margin: 1rem 0;
    padding: 0 1rem 1rem;
  }

  .extension-box img {
    width: 10rem;
  }

  .extension-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
  }

  .extension-header h2 {
    margin: 1.25rem 0 0;
    font-size: calc(var(--main-font-size) * 1.25);
    color: var(--neutral-900);
  }

  .extension-header p {
    margin: 0.5rem 0 0;
    font-size: calc(var(--main-font-size) - 2px);
  }
}
